{{- define "base" -}}
<html html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-primary: var(--color-pink-600);
        --color-primary-hover: var(--color-pink-700);
      }
      a {
        @apply cursor-pointer;
      }
    </style>
  </head>
  <body>
    <header class="mb-6 p-6">
      <div class="flex items-center justify-between">
        <a
          class="flex font-semibold gap-x-1 items-center lowercase text-2xl text-primary tracking-tighter"
          href="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6"
          >
            <path
              d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
            />
            <path d="M20 2v4" />
            <path d="M22 4h-4" />
            <circle cx="4" cy="20" r="2" />
          </svg>
          Nova
        </a>
        <nav>
          <ul
            class="flex font-semibold text-slate-600 transition-colors [&_a]:hover:text-slate-800 [&_a]:p-4"
          >
            <li><a href="/docs/">Documentation</a></li>
          </ul>
        </nav>
        <iframe
          src="https://ghbtns.com/github-btn.html?user=dudemelo&repo=nova&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="112"
          height="30"
          title="GitHub"
        ></iframe>
      </div>
    </header>
    <main>{{template "page" .}}</main>
  </body>
</html>
{{- end -}}
