{{- define "base" -}}
<html html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-primary: var(--color-violet-600);
      }
      a {
        @apply cursor-pointer;
      }
    </style>
  </head>
  <body class="flex flex-col">
    <header class="flex items-center justify-between p-4 shadow">
      <h1 class="font-extrabold text-3xl tracking-tighter">
        <a class="flex items-center" href="/">
          <svg
            class="mb-1 stroke-primary"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-coffee-icon lucide-coffee"
          >
            <path d="M10 2v2" />
            <path d="M14 2v2" />
            <path
              d="M16 8a1 1 0 0 1 1 1v8a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V9a1 1 0 0 1 1-1h14a4 4 0 1 1 0 8h-1"
            />
            <path d="M6 2v2" />
          </svg>
          Facil
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="/docs/">Documentation</a></li>
        </ul>
      </nav>
      <iframe
        src="https://ghbtns.com/github-btn.html?user=dudemelo&repo=facil&type=star&count=false&size=large"
        frameborder="0"
        scrolling="0"
        width="170"
        height="30"
        title="GitHub"
      ></iframe>
    </header>
    {{template "body" .}}
  </body>
</html>
{{- end -}}
